<html xmlns:th="https://www.thymeleaf.org"
th:replace="~{fragments/layout :: layout (~{::body},'skatepark')}">

<body>
	
	<h2>Skatepark</h2>
	<form th:object="${skatepark}" class="form-horizontal" id="add-skatepark-form" method="post">
		<div class="form-group has-feedback">
			<input
				th:replace="~{fragments/inputField :: input ('Name', 'name', 'text')}" />
			<input
				th:replace="~{fragments/inputField :: input ('Address', 'address', 'text')}" />
			<input
				th:replace="~{fragments/inputField :: input ('City', 'city', 'text')}" />
			<input
				th:replace="~{fragments/inputField :: input ('State', 'state', 'text')}" />
			<input
				th:replace="~{fragments/inputField :: input ('Postal Code', 'postalCode', 'text')}" />
			<input
				th:replace="~{fragments/inputField :: input ('Country', 'country', 'text')}" />
			<input
				th:replace="~{fragments/inputField :: input ('Lights? true/false', 'lights', 'text')}" />
			<input
				th:replace="~{fragments/inputField :: input ('Free? true/false', 'free', 'text')}" />
			<input
				th:replace="~{fragments/inputField :: input ('Inside? true/false', 'inside', 'text')}" />
			<input
				th:replace="~{fragments/inputField :: input ('Surface', 'surface', 'text')}" />
			<input
				th:replace="~{fragments/inputField :: input ('Website', 'website', 'text')}" />
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button
					th:with="text=${skatepark['new']} ? 'Add Skatepark' : 'Update Skatepark'"
					class="btn btn-default" type="submit" th:text="${text}">Add Skatepark
				</button>
			</div>
		</div>
	</form>
</body>
</html>
