<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'skateparks')}">

  <body>

    <h2>Skateparks</h2>

    <table id="skateparks" class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>City</th>
            <th>State</th>
            <th>Country</th>
			<th>Website</th>
        </tr>
        </thead>
        <tbody>
			<tr th:each="skatepark : ${selections}">
				<td>
					<a th:href="@{/skateparks/__${skatepark.id}__}" th:text="${skatepark.name}"/></a>
				</td>
				<td th:text="${skatepark.city}"/>
				<td th:text="${skatepark.state}"/>
				<td th:text="${skatepark.country}"/>
				<td>
					<a th:href="${skatepark.website}" th:text="${skatepark.website}"/></a>
				</td>
			</tr>
        </tbody>
    </table>

    <br />
    <a class="btn btn-default" th:href="@{/skateparks/new}">Add skatepark</a>

  </body>
</html>
