<html>
	<body>
		<form>
			<th:block th:fragment="input (label, name, type)">
				<div th:with="valid=${!#fields.hasErrors(name)}"
				th:class="${'form-group' + (valid ? '' : ' has-error')}"
				class="form-group">
					<label class="col-sm-2 control-label" th:text="${label}">Label</label>
					<div class="col-sm-10">
						<div th:switch="${type}">
							<input th:case="'text'" class="form-control" type="text" th:field="*{__${name}__}" />
							<input th:case="'state'" class="form-control" type="text" th:field="*{__${name}__}"
							placeholder="UT" title="Enter the two character state code" pattern="[A-Z]{2}"/>
							<input th:case="'website'" class="form-control" type="text" th:field="*{__${name}__}"
							placeholder="http://" title="Include http:// or https://" pattern="[http][s]?.+"/>
						</div>
						<span th:if="${valid}"
						class="glyphicon glyphicon-ok form-control-feedback"
						aria-hidden="true"></span>
						<th:block th:if="${!valid}">
						<span
						class="glyphicon glyphicon-remove form-control-feedback"
						aria-hidden="true"></span>
						<span class="help-inline" th:errors="*{__${name}__}">Error</span>
					</div>
				</div>
			</th:block>
		</form>
	</body>
</html>